@import url('./reset.css');

.home {
    background: url('./image/Bg.jpg') no-repeat;
    background-size: cover;
}

.home p {
    font-size: 140px;
}

.home img {
    width: 120px;
    height: 120px;
}

.level2 {
    background: rgb(0, 189, 207);
}

.level2 .portfolio {
    font-size: 100px;
}

.level2 .displayScreen {
    width: 500px;
    height: 350px;
}

.level2 .portfolioTitle {
    font-size: 50px;
}

.level3 {
    background: rgb(0, 189, 207);
}

.level3 .skill {
    font-size: 100px;
}

.skillTitle {
    width: 200px;
}

.githubLogo:hover {
    opacity: 0.5;
}

footer p {
    font-size: 30px;
}

footer img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* RWD響應式設計 */
/* BreakPoints xl */
@media (max-width: 1200px) {
    .home p {
        font-size: 100px;
    }

    .home img {
        width: 100px;
        height: 100px;
    }

    .level2 .portfolio {
        font-size: 90px;
    }

    .level3 .skill {
        font-size: 90px;
    }
}

/* BreakPoints lg */
@media (max-width: 992px) {
    .home p {
        font-size: 80px;
    }

    .home img {
        width: 80px;
        height: 80px;
    }

    .level2 .portfolio {
        font-size: 80px;
    }

    .level3 .skill {
        font-size: 80px;
    }
}

/* BreakPoints md */
@media (max-width: 768px) {
    .home p {
        font-size: 60px;
    }

    .home img {
        width: 60px;
        height: 60px;
    }

    .level2 .portfolio {
        font-size: 70px;
    }

    .level2 .displayScreen {
        width: 450px;
        height: 300px;
    }

    .level2 .portfolioTitle {
        font-size: 45px;
    }

    .level3 .skill {
        font-size: 70px;
    }
}

/* BreakPoints sm */
@media (max-width: 576px) {
    .home p {
        font-size: 40px;
    }

    .home img {
        width: 40px;
        height: 40px;
    }

    .level2 .displayScreen {
        width: 400px;
        height: 300px;
    }

    .level2 .portfolio {
        font-size: 60px;
    }

    .level2 .portfolioTitle {
        font-size: 40px;
    }

    .level3 .skill {
        font-size: 60px;
    }

    .skillTitle {
        width: 200px;
    }

    footer p {
        font-size: 25px;
    }

    footer img {
        width: 25px;
        height: 25px;
    }
}

/* BreakPoints xs */
@media (max-width: 320px) {
    .home p {
        font-size: 30px;
    }

    .home img {
        width: 30px;
        height: 30px;
    }

    .level2 .portfolio {
        font-size: 55px;
    }

    .level2 .displayScreen {
        width: 300px;
        height: 200px;
    }

    .level2 .portfolioTitle {
        font-size: 30px;
    }

    .level3 .skill {
        font-size: 55px;
    }

    .skillTitle {
        width: 150px;
    }

    footer p {
        font-size: 15px;
    }

    footer img {
        width: 15px;
        height: 15px;
    }
}
